<html>
<head>
    <title>해킹포터 - 진짜 스니치 찾기</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header">
    <p class="title">
        진짜 스니치 찾기
    </p>
    <p>
        해리포터... 아니 해킹포터,
    </p>
    <p>
        퀴디치 팀에 들어오고 싶다면...
    </p>
    진짜 스니치를 <span class="highlight">클릭</span> 해보게
</div>

<form action="/api/snitch" method="post" id="snitchForm">
    <input type="hidden" id="snitchValue" name="snitchValue">
</form>


<style>
    .title {
        font-size: 40px;
        font-weight: 600;
    }

    .header {
        margin-top: 30px;
        margin-left: 20px;
    }

    .highlight {
        font-weight: 600;
        color: #4f2cfa;
    }

    .snitch {
        width: 100px;
        height: 100px;
        line-height: 50px;
        font-size: 25px;
        color: white;
        text-align: center;
        font-weight: 600;
        position: absolute;
        transition-duration: 0s;
        cursor: pointer;
    }
</style>

<script>

    var  requestGet = function(number) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
            }
        };

        xhttp.open("GET", `/api/snitch2/?number=${number}`, true);
        xhttp.send();
    }

    for (let i = 0; i < 50; i++) {
        var temp = document.createElement('img');
        temp.setAttribute('src', '/resources/images/snitch.gif');
        temp.className = "snitch"
        document.body.appendChild(temp);
    }


    var snitchClick = function (number) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                console.log(`HTTP GET - 1) ${number} 번째 스니치, 2) 응답결과: ${this.responseText}`)
            }
        };

        xhttp.open("GET", `/api/snitch2/?number=${number}`, true);
        xhttp.send();
    }

    window.onload = function () {
        var btn = document.getElementsByClassName('snitch');
        for (let i = 0; i < btn.length; i++) {
            btn[i].addEventListener('click', function () {
                snitchClick(i);
            });
        }
    };

    var flagText = "d|Wn~{~shz@|~sobc`sesizuxdbkQ"

    var browserWidth = window.innerWidth
    var browserHeight = window.innerHeight

    var mouseX = null
    var mouseY = null

    var snitchElementList = document.getElementsByClassName('snitch')
    var curTop = null
    var curLeft = null

    var offSetX = 150
    var offSetY = 350

    window.onmousemove = function (event) {


        for (let i = 0; i < snitchElementList.length; i++) {

            var snitchElement = snitchElementList[i]

            // console.log('snitchElement', snitchElement)

            mouseX = event.clientX
            mouseY = event.clientY

            curTop = snitchElement.style.top
            curLeft = snitchElement.style.left

            var x = Math.floor((Math.random() * 135791113) % browserHeight)
            var y = Math.floor((Math.random() * 135791113) % browserWidth)

            snitchElement.style.top = x
            snitchElement.style.left = y
        }
    }
</script>
</body>
</html>